# Personal Files
.env
.token
tmp*

# DEV

# Data

# Ignore everything inside .storage/
.storage/*

# Unless the data folder
!.storage/data

# Ignore everything inside .storage/data/
.storage/data/**

# Unless the preprocessed datasets
!/.storage/data/preproc-dataset[0-9]*/

# # Ignore everything inside those datasets
# .storage/data/preproc-dataset[0-9]/*

# # Allow only CSV files inside those datasets
# !/.storage/data/preproc-dataset[0-9]/*.csv


# Logs

# Ignore all logs
outputs/logs/*

# But do not ignore logs/backup
!outputs/logs/backup/

# Allow all files in logs/backup
!outputs/logs/backup/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.exe

# pytest
pytest_cache/

# Python Virtual Environment
*venv*/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Visual Studio Code
.vscode/
.settings/
.history/
.history.rec/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db